# Visualize Energy Consumption using RECS2020 Data and Validate with AEO2023/AEO2025

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Your color mapping
COLOR_MAP_FUEL = {
    'Electricity': 'seagreen',
    'Natural Gas': 'steelblue', 
    'Propane': 'orange',
    'Fuel Oil': 'gray'
}

# Step 1: Load your data
file_path = r"C:\Users\14128\Desktop\CMU\Dissertation\Post-Defense Submission\Residential_Energy_Consumption_Emissions_RECS_AEO2025.xlsx"

consumption_raw = pd.read_excel(file_path, sheet_name='enduse_cons_summary_RECS')
emissions_raw = pd.read_excel(file_path, sheet_name='enduse_emis_summary_RECS')

print("Original consumption data shape:", consumption_raw.shape)
print("Columns we care about:")
print("- Enduse")
print("- enduse_electricity_quads") 
print("- enduse_naturalGas_quads")
print("- enduse_propane_quads")
print("- enduse_fuelOil_quads")

Original consumption data shape: (4, 13)
Columns we care about:
- Enduse
- enduse_electricity_quads
- enduse_naturalGas_quads
- enduse_propane_quads
- enduse_fuelOil_quads

In [5]:
# Step 2: Reshape consumption data from wide to long
consumption_long = pd.melt(
    consumption_raw,
    id_vars=['Enduse'],
    value_vars=['enduse_electricity_quads', 'enduse_naturalGas_quads', 
                'enduse_propane_quads', 'enduse_fuelOil_quads'],
    var_name='fuel_column',
    value_name='consumption_quads'
)
consumption_long

             Enduse               fuel_column  consumption_quads
0     Space Heating  enduse_electricity_quads             0.5496
1     Water Heating  enduse_electricity_quads             0.5329
2   Clothes Drying   enduse_electricity_quads             0.1906
3          Cooking   enduse_electricity_quads             0.0796
4     Space Heating   enduse_naturalGas_quads             2.8868
5     Water Heating   enduse_naturalGas_quads             1.0812
6   Clothes Drying    enduse_naturalGas_quads             0.0381
7          Cooking    enduse_naturalGas_quads             0.0915
8     Space Heating      enduse_propane_quads             0.2740
9     Water Heating      enduse_propane_quads             0.0694
10  Clothes Drying       enduse_propane_quads             0.0023
11         Cooking       enduse_propane_quads             0.0116
12    Space Heating      enduse_fuelOil_quads             0.3150
13    Water Heating      enduse_fuelOil_quads             0.0530
14  Clothes Drying       enduse_fuelOil_quads             0.0000
15         Cooking       enduse_fuelOil_quads             0.0000

In [6]:
# Step 3: Clean up the fuel type names
fuel_name_mapping = {
    'enduse_electricity_quads': 'Electricity',
    'enduse_naturalGas_quads': 'Natural Gas',
    'enduse_propane_quads': 'Propane', 
    'enduse_fuelOil_quads': 'Fuel Oil'
}

consumption_long['fuel_type'] = consumption_long['fuel_column'].map(fuel_name_mapping)

# Keep only what we need
consumption_clean = consumption_long[['Enduse', 'fuel_type', 'consumption_quads']].copy()

print("\nAfter reshaping:")
print(consumption_clean)

After reshaping:
             Enduse    fuel_type  consumption_quads
0     Space Heating  Electricity             0.5496
1     Water Heating  Electricity             0.5329
2   Clothes Drying   Electricity             0.1906
3          Cooking   Electricity             0.0796
4     Space Heating  Natural Gas             2.8868
5     Water Heating  Natural Gas             1.0812
6   Clothes Drying   Natural Gas             0.0381
7          Cooking   Natural Gas             0.0915
8     Space Heating      Propane             0.2740
9     Water Heating      Propane             0.0694
10  Clothes Drying       Propane             0.0023
11         Cooking       Propane             0.0116
12    Space Heating     Fuel Oil             0.3150
13    Water Heating     Fuel Oil             0.0530
14  Clothes Drying      Fuel Oil             0.0000
15         Cooking      Fuel Oil             0.0000

In [7]:
# Step 4: Do the same for emissions
emissions_long = pd.melt(
    emissions_raw,
    id_vars=['Enduse'],
    value_vars=['enduse_electricity_MmtCO2', 'enduse_naturalGas_MmtCO2',
                'enduse_propane_MmtCO2', 'enduse_fuelOil_MmtCO2'],
    var_name='fuel_column', 
    value_name='emissions_MmtCO2'
)

emissions_name_mapping = {
    'enduse_electricity_MmtCO2': 'Electricity',
    'enduse_naturalGas_MmtCO2': 'Natural Gas', 
    'enduse_propane_MmtCO2': 'Propane',
    'enduse_fuelOil_MmtCO2': 'Fuel Oil'
}

emissions_long['fuel_type'] = emissions_long['fuel_column'].map(emissions_name_mapping)
emissions_clean = emissions_long[['Enduse', 'fuel_type', 'emissions_MmtCO2']].copy()
emissions_clean

             Enduse    fuel_type  emissions_MmtCO2
0     Space Heating  Electricity         63.368369
1     Water Heating  Electricity         61.442874
2   Clothes Drying   Electricity         21.976003
3          Cooking   Electricity          9.177806
4     Space Heating  Natural Gas        152.740588
5     Water Heating  Natural Gas         57.206292
6   Clothes Drying   Natural Gas          2.015871
7          Cooking   Natural Gas          4.841265
8     Space Heating      Propane         17.230033
9     Water Heating      Propane          4.364103
10  Clothes Drying       Propane          0.144632
11         Cooking       Propane          0.729447
12    Space Heating     Fuel Oil         23.354100
13    Water Heating     Fuel Oil          3.929420
14  Clothes Drying      Fuel Oil          0.000000
15         Cooking      Fuel Oil          0.000000